<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>Kanban Board</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
    <script type="text/javascript">
        window.alert = function(){};
        var defaultCSS = document.getElementById('bootstrap-css');
        function changeCSS(css){
            if(css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="'+ css +'" type="text/css" />'); 
            else $('head > link').filter(':first').replaceWith(defaultCSS); 
        }
        $( document ).ready(function() {
          var iframe_height = parseInt($('html').height());
        });
    </script>
</head>
<body class="">
        <div class="container-fluid" style="min-width: 1050px;">
        <div id="sortableKanbanBoards" class="row">

            <!--sütun başlangıç-->
            <div class="panel panel-primary kanban-col">
                <div class="panel-heading">
                    TODO
                    <i class="fa fa-2x fa-plus-circle pull-right"></i>
                </div>
                <div class="panel-body" style="max-height: 346px;">
                    <div id="TODO" class="kanban-centered"><article class="kanban-entry grab" id="item1" draggable="true">
                            
                        </article>

                    </div>
                </div>
                <div class="panel-footer">
                    <a onclick ="createCard()" >Add a card...</a>
                    <script>
                    function createCard() {
                        document.getElementById("TODO").innerHTML += '<article class="kanban-entry grab" id="item1" draggable="true"> <div class="kanban-entry-inner"> <div class="kanban-label"><h2><a href="#" contenteditable="true">Insert your title here</a></h2><blockquote id="demo" contenteditable="true">Insert your text here</blockquote></div></div></article>';
                    }
                    </script>
                </div>
            </div>
            <!--sütun bitiş-->
            <!--sütun başlangıç-->
            <div class="panel panel-primary kanban-col">
                <div class="panel-heading">
                    DOING
                    <i class="fa fa-2x fa-plus-circle pull-right"></i>
                </div>
                <div class="panel-body" style="max-height: 346px;">
                    <div id="DOING" class="kanban-centered"><article class="kanban-entry grab" id="item2" draggable="true">
                        </article>

                    </div>
                </div>
                <div class="panel-footer">
                    <a onclick ="createCard2()" >Add a card...</a>
                    <script>
                    function createCard2() {
                        document.getElementById("DOING").innerHTML += '<article class="kanban-entry grab" id="item2" draggable="true"> <div class="kanban-entry-inner"> <div class="kanban-label"><h2><a href="#" contenteditable="true">Insert your title here</a></h2><blockquote id="demo" contenteditable="true">Insert your text here</blockquote></div></div></article>';
                    }
                    </script>
                </div>
            </div>
            <!--sütun bitiş-->
            <!--sütun başlangıç-->
            <div class="panel panel-primary kanban-col">
                <div class="panel-heading">
                    DONE
                    <i class="fa fa-2x fa-plus-circle pull-right"></i>
                </div>
                <div class="panel-body" style="max-height: 346px;">
                    <div id="DONE" class="kanban-centered">

                        <article id class="kanban-entry grab" id="item3" draggable="true">
                        </article>

                    </div>
                </div>
                <div class="panel-footer">
                    <a onclick ="createCard3()" >Add a card...</a>
                    <script>
                    function createCard3() {
                        document.getElementById("DONE").innerHTML += '<article class="kanban-entry grab" id="item3" draggable="true"> <div class="kanban-entry-inner"> <div class="kanban-label"><h2><a href="#" contenteditable="true">Insert your title here</a></h2><blockquote id="demo" contenteditable="true">Insert your text here</blockquote></div></div></article>';
                    }
                    </script>
                </div>
            </div>
            <!--sütun bitiş-->


        </div>
    </div>


    <!-- Static Modal -->
    <div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <i class="fa fa-refresh fa-5x fa-spin"></i>
                        <h4>Processing...</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
$(.task).draggable({
    revert: function (droppableObj) {
        if (droppableObj === false) {
            return true;
        }
    }
})
</script>

<script>
$(.box).droppable({
    drop: function (event, ui) {
        const task_id = ui.draggable.context.id
        const board_id = window.location.search.split("=")[1]
        const box_id = event.target.id
    }
})
</script>
</body></html>